.title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: midnightblue;
}

.NavLink {
  font-size: 20px;
  color: currentColor;
}

.NavLink--active {
  color: palevioletred;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
